@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  line-height: 1.5;
  font-family: "Noto Sans TC", "Open Sans", "PingFang TC", "Heiti TC", "微軟正黑體", sans-serif;
}
.sidebar {
  overflow: auto;
  top: 0;
  height: 100%;
  text-align: center;
  position: fixed;
  background: url("../image/sidebar-bg.jpg") top left no-repeat;
  background-size: cover;
}
.sidebar .logo {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  margin-top: 30px;
  display: block;
}
.sidebar .logo .logo-text {
  margin-top: 10px;
}
.sidebar .logo .logo-text h1 {
  font-size: 26px;
}
.sidebar .navbar-toggle {
  display: none;
}
.sidebar .navbar-toggle .icon-bar {
  width: 22px;
  height: 2px;
  background-color: #fff;
  display: block;
}
.sidebar .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.sidebar .menu {
  padding: 0;
}
.sidebar .menu > li {
  text-align: center;
  list-style: none;
  padding: 12px 35px;
}
.sidebar .menu > li:first-child {
  max-width: 100%;
  margin: 30px 0 0;
}
.sidebar .menu > li:first-child a .logo-text {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 300;
}
.sidebar .menu > li:last-child {
  margin-top: 40px;
}
.sidebar .menu > li:last-child div {
  color: #fff;
}
.sidebar .menu > li:last-child .print {
  cursor: pointer;
  margin-bottom: 10px;
}
.sidebar .menu > li a.print,
.sidebar .menu > li a .logo-text {
  color: rgba(255, 255, 255, 0.9);
  font-weight: normal;
}
.sidebar .menu > li a.print:focus,
.sidebar .menu > li a .logo-text:focus,
.sidebar .menu > li a.print:hover,
.sidebar .menu > li a .logo-text:hover {
  color: rgba(255, 255, 255, 0.9);
}
.sidebar .menu > li > a {
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5;
  font-weight: bold;
  font-size: 15px;
}
.sidebar .menu > li > a:focus,
.sidebar .menu > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.sidebar .menu > li.active a {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar .menu > li.active a span:after {
  background-color: #fff;
  content: '';
  height: 1px;
  position: absolute;
  right: 0;
  vertical-align: middle;
  width: 15%;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}
.sidebar .menu > li .menu-xs {
  font-size: 13px;
}
.content {
  background: url('../image/background.jpg') right bottom no-repeat;
  background-size: 100%;
}
.content article .article-title {
  margin: 30px 0;
}
.content article .article-title h3 {
  font-size: 30px;
}
.content article .article-title h5 {
  font-size: 20px;
  font-weight: 300;
}
.content article .article-title h3,
.content article .article-title h5 {
  color: #222222;
}
.content article p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #4a4a4a;
}
.content article img {
  margin-bottom: 20px;
}
.content article .block {
  margin-bottom: 30px;
  margin-left: 15px;
}
.content article .chart {
  margin-bottom: 20px;
}
.content article .bar-legend,
.content article .line-legend {
  list-style: none;
}
.content article .bar-legend li,
.content article .line-legend li {
  display: inline-block;
  margin-right: 20px;
}
.content article .bar-legend li:last-child,
.content article .line-legend li:last-child {
  margin-right: 0;
}
.content article .bar-legend span,
.content article .line-legend span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.content footer .footer-content {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 50px;
  padding-bottom: 40px;
  margin-top: 100px;
}
.content footer .footer-content .footer-contact {
  opacity: 0.9;
  font-size: 13px;
  color: #4a4a4a;
  margin-top: 20px;
}
.content footer .footer-content .footer-intro {
  font-size: 13px;
  line-height: 1.8;
  color: #4a4a4a;
}
@media (min-width: 992px) {
  .menu {
    display: block;
  }
}
@media (max-width: 991px) {
  .sidebar {
    position: relative;
    width: 100%;
  }
  .sidebar .menu-list .menu {
    border-top: 1px solid rgba(54, 158, 168, 0.5);
  }
  .sidebar .menu-list .menu li a.active span:after {
    display: none;
  }
  .sidebar .logo {
    margin: 20px 30px;
    text-align: left;
  }
  .sidebar .logo img {
    height: 60px;
  }
  .sidebar .logo .logo-text {
    display: none;
  }
  .sidebar .navbar-toggle {
    display: block;
    position: absolute;
    right: 10px;
    top: 30px;
    border: none;
    background: none;
    padding: 10px;
    border-radius: 2px;
  }
  .sidebar .navbar-toggle:focus {
    outline: none;
    background-color: #369EA8;
  }
  .content article .block {
    margin: 30px 0;
  }
  .content footer {
    text-align: center;
  }
  .content footer .footer-intro {
    margin-top: 20px;
  }
}
